<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Residuos</title>

    <link rel="stylesheet" href="../assets/styles.css">

</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-left">
                <a href="index.html" class="nav-link">Inicio</a> 
                <!-- estructura para añadir mas cosas a la navegacion -->
                
                <a href="mapa.html" class="nav-link">Mapa</a>
                <a href="detalle.html" class="nav-link">Detalle</a>
                <a href="recolector.html" class="nav-link">Recolectores</a>
                
                <a href="reportar.html" class="nav-link">Reportar</a>
            
            </div>
            <div class="nav-right">
                <a href="iniciodesesion.html" class="nav-link">Login</a>
                <a href="formulario.html" class="nav-link">Registro</a>
                
            </div>
        </div>
    </nav>
    
    <main>
        <p>PAGINA WEB</p>
    </main>

    
</body>
</html>
